/* Selector */
/* Selectors refer to the HTML elements to which CSS rules apply; they’re what is actually being “selected” for each rule. */

/* 
Universal Selector 
    - Selects elements of every type (as in the whole document) and sets every element to the style you chose

*/
