/* Selector */
/* Selectors refer to the HTML elements to which CSS rules apply; they’re what is actually being “selected” for each rule. */

/* 
Universal Selector 
    - Selects elements of every type (as in the whole document) and sets every element to the style you chose
*/
* {
    color: purple;
}

/* 
Type Selectors
    - (or element selector) will select all elements of the given element type
    - The syntax is just the name of the element in HTML
*/
div {
    color: rgb(0, 108, 135);
}

/* 
Class Selector
    - Selects all elements with the given class (which is just an attribute you place on an HTML element
    - In HTML: <div class="example-text">Example text here.</div>
    - In CSS: .example-text { color: red; }
*/
.alert-text {
    color: red;
}