/* Reference for examples: https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Styling_basics/Box_model */

/* Exmaple 1 */
body {
    font-family: sans-serif;
}
p,
ul {
    border: 2px solid rebeccapurple;
    padding: 0.2em;
}

.block,
li {
    border: 2px solid blue;
    padding: 0.2em;
}

ul {
    display: flex;
    list-style: none;
}

.block {
    /* The span element is inline by default so we have to change its display to block */
    display: block;
}