body {
    font-family: 'Courier New', Courier, monospace;
    color: darkgreen;
}

.fyi {
    text-align: center;
    padding: 30px;
    margin: 60px 80px;
    font-weight: bold;
    font-size: 20px;
    background-color: yellow;
    color: black;
    border-radius: 40px;
}