body {
    font-family: 'Courier New', Courier, monospace;
    color: darkgreen;
}

.fyi {
    text-align: center;
    padding: 30px;
    margin: 60px 80px;
    font-weight: bold;
    font-size: 20px;
    background-color: yellow;
    color: black;
    border-radius: 40px;
}

/* Example 1 */
.flex-container {
  display: flex;
}

/* this selector selects all divs inside of .flex-container */
.flex-container div {
  background: peachpuff;
  border: 4px solid brown;
  height: 100px;
  flex: 1;
}