* {
    font-family: 'Courier New', Courier, monospace;
}

/* Example of Alignment */
.container {
    height: 140px;
    padding: 16px;
    background: plum;
    border: 4px solid indigo;
    display: flex;
}

.item {
    width: 60px;
    height: 60px;
    border: 4px solid darkslategray;
    background-color: skyblue;
}