* {
    padding: 0;
    margin: 0;
    font-size: 40px;
}

.box-one {
    background-color: #EB5757;
    padding: 10px;
    border: 30px solid #9B51E0;
    margin: 60px;
    /* The height and width will change the size of the content (in our case the content for class box-one is the text "One") */
    height: 100px;
    width: 100px;
}

.box-two {
    background-color: #2D9CDB;
    border: 0 solid #27AE60;
}