* {
    padding: 0;
    margin: 0;
    font-size: 40px;
}

.box-one {
    background-color: #EB5757;
    /* Padding is when we add spacing around content */
    padding: 10px;
    /* Border is when we add almost this sort of rectangle or stroke the surrounds our content and padding */
    border: 30px solid #9B51E0;
    /* Margin is what adds space between other elements on the webpage or moves elements away from the edges of the webpage. */
    margin: 60px;
    /* The height and width will change the size of the content (in our case the content for class box-one is the text "One") */
    height: 100px;
    width: 100px;
}

.box-two {
    background-color: #2D9CDB;
    padding: 10px;
    border: 30px solid #27AE60;
    /* 
    margin = 60px
    The margin between both element 1 and element 2 is the same 60px and not 120px because margin collapses between elements next to each other. Thus if we change the margin to be 70px, between the two elements it will take the max of the two margins (ONLY BETWEEN ELEMENTS, meaning that their margin from the edge of the screen will be whatever that element has as a unique margin. */
    margin: 70px;
    /* 
    - When looking at the overall size (width x height) of this element in the inspect element DevTools, we notice that box-two will be a total size of 180px x 180px (10px padding on the top + 10 pixel padding on the bottom + 30px border on the top + 30 px border on the bottom + height ( the same can be done for the width)) since the margin doesn't account into the width and height using CSS by default.
    - If we wanted to fix this, we would have to add box-sizing: border-box;
        - This makes the height and width account for the padding and border of our element which cut into our height and width
    */
    height: 100px;
    width: 100px;
    /* This makes the actual size of our content in the inspect element be considered as 20px x 20px since the padding and border cut into the height and width of our height and width of our content which we originally set to 100px x 100px. but overall the total width (including the content, padding, and border) is what we actually set as the width). */
    box-sizing: border-box;
}