body {
    font-family: 'Courier New', Courier, monospace;
}

/* Example flex-direction */
.flex-container {
    display: flex;
    flex-direction: column;
}
.flex-container div {
    background: peachpuff;
    border: 4px solid;
    height: 80px;
    flex: 1 1 auto;
}