/* 
The Box Model 
    - Every single thing on a webpage is a rectangular box, these boxes can have other boxes in them and can sit alongside one another.
    - To view these "Boxes" on a webpage, use the following CSS:
        * {
            outline: 2px solid red;
        }
    - There are many ways to manipulate the size of these boxes, and the spaces between them, using padding, border, and margin.
        - padding: increases the space between the border of a box and the content of the box.
        - border: adds space (even if it's only a pixel of two) between the margin and the padding.
        - margin: increases the space between the borders of a box and the borders of adjacent boxes.
*/

