/* Selector */
/* Selectors refer to the HTML elements to which CSS rules apply; they’re what is actually being “selected” for each rule. */

/* 
Universal Selector 
    - Selects elements of every type (as in the whole document) and sets every element to the style you chose
*/
* {
    color: purple;
}


/* 
Type Selectors
    - (or element selector) will select all elements of the given element type
    - The syntax is just the name of the element in HTML
*/
div {
    color: rgb(0, 108, 135);
}


/* 
Class Selector
    - Selects all elements with the given class (which is just an attribute you place on an HTML element
    - In HTML: <div class="example-text">Example text here.</div>
    - In CSS: .example-text { color: red; }
    - ** Classes aren’t required to be specific to a particular element, so you can use the same class on as many elements as you want.
    - ** Class selectors won’t work if the class name begins with a number. Ex: .4lert-text
    - ** In CSS you must also define class selectors starting with a period.
    - ** You can also add more than one class selector (space seperated) for one class.
        - This means you cannot use spaces for multi-worded class selectors, by hyphen it instead.
*/
.alert-text {
    color: red;
}

.test1 {
    color: green;
}

.test3 {
    color: rgb(10, 10, 100)
}


/* 
ID Selectors 
    - ID selectors are similar to class selectors in the sense that they are given an "ID" rather than the class.
        - The main difference is that elements can only have one ID unlike classes (which can have more than one selector identifier).
    - These selectors should contain no white spaces.
    - In HTML: <div id="example-text">Example text here.</div>
    - In CSS: #example-text { color: red; }
    - ** You should use IDs sparingly (if at all) as classes shall suffice for mostly every normal task.
    - ** Just like classes, ID Selectors cannot use numbers in front of the IDs.
        - I.e., #7itle would not be legal.
*/
#title {
    background-color: rebeccapurple;
    color: aqua;
}


/* 
Grouping Selector
    - Very similar to the idea of abstraction in OOP, where you pull out the common parts of code and reuse it while adding the uncommon parts after seperately defining the class
*/
/* Poor example of grouping selector */
.read {
    color: white;
    background-color: black;
    /* several unique declarations */
}

.unread {
    color: black;
    background-color: white;
    /* several unique declarations */
}

/* Good example of grouping selector */
.read
.unread {
    color: white;
    background-color: black;
}

.read {
    /* several unique declarations */
}

.unread {
    /* several unique declarations */
}


/* 
Chaining Selectors
    - Another way to chain them as a list without any separation
    - Essentially you have a class or/and an ID attribute(s) for which you can combine/chain selectors within the same group (an example would be more clear (see index.html and styles.css).
    - ** You can’t chain more than one type selector since an element can’t be two different types at once
        - Ex: Chaining two type selectors like div and p would give us the selector divp, which wouldn’t work since the selector would try to find a literal <divp> element, which doesn’t exist.
*/
.subsection.header {
    color: red;
}

.subsection#preview {
    color: blue;
}


/* 
Descendant Combinator 
    - A descendant combinator will only cause elements that match the last selector to be selected if they also have an ancestor (parent, grandparent, etc.) that matches the previous selector.
        - Think parent-child relationship, you need a parent element with a selector (this will be the "root" selector, then you have your children elements each with their own selectors. In turn, the descendant combinator combines parent + child s.t. each element (child) with that child selector, shall be selected (see example below and in HTML).
        - Also think nesting elements, this might be more clear the more we practice
        - *** The children you reference must all have the same class, unless you are looking to reference a specific child (see EX2)
    - Represented in CSS by a single space between selectors (i.e., .ancestor .contents {...}).
    - In the example below, only the first two elements with the "contents" class were selected, but the last one was not selected
*/

/* *** EX1 *** */
/* HTML Syntax:
<div class="ancestor">parent
    <div class="contents">child
        <div class="contents">child</div>
    </div>
</div>

<div class="contents">parent?</div>
*/
.ancestor .contents {
    color: chocolate;
    background-color: aqua;
    /* some declarations */
}

/* *** EX2 *** */
/* This is totally legal, this just selects an element that has a class of "four" if it has an ancestor with a class of "three", and if that ancestor has its own ancestor with a class of "two", and so on */
.one .two .three .four {
    color: violet;
    background-color: burlywood;
}




/* 
PROPERTIES (new topic) 
    - All properties have a default value, thus if you don't specify the value, then CSS will auto to a default value
*/

/* 
color & background-color 
    - They accept both actual color names (e.g., red) and HEX, RGB, and HSL.
*/
p {
    /* hex example */
    color: #1100ff;
}
p {
    /* rgb example */
    color: rgb(100, 0, 127);
}
p {
    /* hsl example */
    color: hsl(15, 82%, 56%);
    color: hsl(15, 82, 56);
    /* These two examples above are the same */
}


/*  
Typography basics & text-align
    - font-family:
        - "font-family" can be a single value or a comma-separated list of values that determine what font an element uses.
            - e.g., font-family: "Times New Roman";
                - this would be an example of a "font family name"
            - e.g., font-family: serif;
                - this would be an example of a "generic family name"
                - generic family names never use quotes
        - If a browser cannot find or does not support the first font in a list, it will use the next one, then the next one and so on until it finds a supported and valid font.
            - Thus, it’s best practice to include a list of values for this property, starting with the font you want to be used most and ending with a generic font family as a fallback.
                - e.g., font-family: "Times New Roman", serif;
    
    - font-size:
        - Sets the size of the font.
        - Do NOT add white spaces between the text
            - e.g., font-size: 22px;
    
    - font-weight:
        - Affects the boldness of the text (assuming the font supports the specified weight).
            e.g., font-weight: bold;
        - The value can also be an integer between 1 and 1000 (inclusive), so font-weight: 700; would be equivilant to bold.
            - Usually the increments will be of 100 up to 900, though this depends on the font you choose.
    
    - text-align:
        - Aligns text horizontally within an element, and you can use the commen keywords you may have come across in word processors as the value for this property (e.g., text-align: center;)
*/


/* 
Image height & width
    - Syntax:
        - img { height: __px; width: __px; }
    - If you wanted to adjust the size of the image without causing it to lose its proportions, you would use a value if "auto" for the height property and adjust the width value:
        - img { height: auto; width: 500px; }
        - e.g., if an image’s original size was 500px height and 1000px width, using the above CSS would result in a height of 250px.
    - ** These properties work in conjunction with the height and width attributes in the HTML.
        - It’s best to include both of these properties and the HTML attributes for image elements, even if you don’t plan on adjusting the values from the image file’s original ones.
        - *** When these values aren’t included, if an image takes longer to load than the rest of the page contents, it won’t take up any space on the page at first but will suddenly cause a drastic shift of the other page contents once it does load in. Explicitly stating a height and width prevents this from happening, as space will be “reserved” on the page and appear blank until the image loads.
*/



/* Adding CSS to HTML (new topic) */
/* 
External CSS 
    - This involves creating a separate file for the CSS and linking it inside of an HTML’s opening and closing <head> tags with a void <link> element
    - Most common form/method of combining HTML and CSS.
    - First, we add a void <link> element inside of the opening and closing <head> tags of the HTML file.
        - The href attribute is the location of the CSS file.
        - The rel attribute is required, and it specifies the relationship between the HTML file and the linked file (in our case rel="stylesheet").
    - ** We can name our .css file anything we would like, but usually it's called "styles.css" or "style.css".
    - Pros of External CSS:
        - It keeps our HTML and CSS separated, which results in the HTML file being smaller and making things look cleaner.
        - We only need to edit the CSS in one place, which is especially handy for websites with many pages that all share similar styles.
*/
/* Syntax for HTML 
<head>
    <link rel="stylesheet" href="./styles.css"
</head>
*/


/* 
Internal CSS (or embedded CSS)
    - This involves adding the CSS within the HTML file itself instead of creating a completely separate file.
    - With the internal method, you place all the rules inside of a pair of opening and closing <style> tags, which are then placed inside of the opening and closing <head> tags of your HTML file:
        <head>
            <style>
                div {
                color: white;
                background-color: black;
                }

                p {
                color: red;
                }
            </style>
        </head>
        <body>
            ...
        </body>
    - Since the styles are being directly placed inside the head, then we no longer need the <link> element inside the head.
*/


/* 
Inline CSS
    - This method makes it possible to add styles directly to HTML elements, though it's not recommended:
        <body>
            <div style="color: white; background-color: black;">...</div>
        </body>
        
        - "style" is the attribute you add to your element in HTML
    - ** We don't use selectors here
    - ** We have the style= attribute here, with its value within the pair of quotation marks being the declarations.
    - ** If you need to add a unique style for a single element, this method can work just fine.
    - This method is not recommended for the following reasons:
        - It can quickly become pretty messy since you start adding a LOT of declarations to a single element, causing your HTML file to become unncesarily bloated.
        - If you want many elements to have the same style, you would have to copy and paste the same style to each individual element, causing lots of unnecessary repetition and more bloat.
        - Any inline CSS will override the other two methods, which can cause unexpected results.
*/