/* Selector */
/* Selectors refer to the HTML elements to which CSS rules apply; they’re what is actually being “selected” for each rule. */

/* 
Universal Selector 
    - Selects elements of every type (as in the whole document) and sets every element to the style you chose
*/
* {
    color: purple;
}

/* 
Type Selectors
    - (or element selector) will select all elements of the given element type
    - The syntax is just the name of the element in HTML
*/
div {
    color: rgb(0, 108, 135);
}

/* 
Class Selector
    - Selects all elements with the given class (which is just an attribute you place on an HTML element
    - In HTML: <div class="example-text">Example text here.</div>
    - In CSS: .example-text { color: red; }
    - ** Classes aren’t required to be specific to a particular element, so you can use the same class on as many elements as you want.
    - ** Class selectors won’t work if the class name begins with a number. Ex: .4lert-text
    - ** In CSS you must also define class selectors starting with a period.
    - ** You can also add more than one class selector (space seperated) for one class.
        - This means you cannot use spaces for multi-worded class selectors, by hyphen it instead.
*/
.alert-text {
    color: red;
}

.test1 {
    color: green;
}

.test3 {
    color: rgb(10, 10, 100)
}


/* 
ID Selectors 
    - ID selectors are similar to class selectors in the sense that they are given an "ID" rather than the class.
        - The main difference is that elements can only have one ID unlike classes (which can have more than one selector identifier).
    - These selectors should contain no white spaces.
    - In HTML: <div id="example-text">Example text here.</div>
    - In CSS: #example-text { color: red; }
    
*/
#title {
    background-color: rebeccapurple;
    color: aqua;
}





