/* Selector */
/* Selectors refer to the HTML elements to which CSS rules apply; they’re what is actually being “selected” for each rule. */

/* 
Universal Selector 
    - Selects elements of every type (as in the whole document) and sets every element to the style you chose
*/
* {
    color: purple;
}

/* 
Type Selectors
    - (or element selector) will select all elements of the given element type
    - The syntax is just the name of the element in HTML
*/
div {
    color: rgb(0, 108, 135);
}

/* 
Class Selector
    - Selects all elements with the given class (which is just an attribute you place on an HTML element
    - In HTML: <div class="example-text">Example text here.</div>
    - In CSS: .example-text { color: red; }
    - ** Classes aren’t required to be specific to a particular element, so you can use the same class on as many elements as you want.
    - ** Class selectors won’t work if the class name begins with a number. Ex: .4lert-text
    - ** In CSS you must also define class selectors starting with a period.
    - ** You can also add more than one class selector (space seperated) for one class.
        - This means you cannot use spaces for multi-worded class selectors, by hyphen it instead.
*/
.alert-text {
    color: red;
}

.test1 {
    color: green;
}

.test3 {
    color: rgb(10, 10, 100)
}


/* 
ID Selectors 
    - ID selectors are similar to class selectors in the sense that they are given an "ID" rather than the class.
        - The main difference is that elements can only have one ID unlike classes (which can have more than one selector identifier).
    - These selectors should contain no white spaces.
    - In HTML: <div id="example-text">Example text here.</div>
    - In CSS: #example-text { color: red; }
    - ** You should use IDs sparingly (if at all) as classes shall suffice for mostly every normal task.
    - ** Just like classes, ID Selectors cannot use numbers in front of the IDs.
        - I.e., #7itle would not be legal.
*/
#title {
    background-color: rebeccapurple;
    color: aqua;
}


/* 
Grouping Selector
    - Very similar to the idea of abstraction in OOP, where you pull out the common parts of code and reuse it while adding the uncommon parts after seperately defining the class
*/

/* Poor example of grouping selector */
.read {
    color: white;
    background-color: black;
    /* several unique declarations */
}

.unread {
    color: black;
    background-color: white;
    /* several unique declarations */
}

/* Good example of grouping selector */
.read
.unread {
    color: white;
    background-color: black;
}

.read {
    /* several unique declarations */
}

.unread {
    /* several unique declarations */
}


/* 
Chaining Selectors
    - Another way to chain them as a list without any separation
    - Essentially you have a class or/and an ID attribute(s) for which you can combine/chain selectors within the same group (an example would be more clear (see index.html and styles.css).
    - ** You can’t chain more than one type selector since an element can’t be two different types at once
        - Ex: Chaining two type selectors like div and p would give us the selector divp, which wouldn’t work since the selector would try to find a literal <divp> element, which doesn’t exist.
*/
.subsection.header {
    color: red;
}

.subsection#preview {
    color: blue;
}


