/* 
Specificity
    - A CSS declaratuons that is more specific will take precdence over less specific ones.
        - e.g., inline styles have the highest specificity compared to selectors
        - Each type of selector has its own level of specificity
            1. ID selectors (most specific selector)
            2. Class selectors
            3. Type selectors
    - An ID selector will always beat any number of class selectors
    - A class selector will always beat any number of type selectors
    - A type selector will always beat any number of less specific selectors
    - ** When there is no declaration with a selector of higher specificity, a rule with a greater number of selectors of the same type will take precedence over another rule with fewer selectors of the same type
*/

/* 
EXAMPLE 1 
    - In this example below, both rules. are using only class selectors but rule 2 is more specific because it is using more class selectors. Thus, the color: red declaration would take precedence.
*/
/* <!-- index.html --> */
/* <div class="main1">
  <div class="list1 subsection1">Red text</div>
</div> */

/* rule 1 */
.subsection1 {
    color: blue;
}

/* rule 2 */
.main1 .list1 {
    color: red;
}

/* 
EXAMPLE 2
    - In this example below, since ID selectors take precedence over classes (regardless of the specificity of classes used in rule2), then the text will change to the colour blue.
*/
/* <!-- index.html --> */
/* <div class="main2">
  <div class="list2 subsection2">Blue text</div>
</div> */

/* rule 1 */
#subsection2 {
    color: blue;
}

/* rule 2 */
.main2 .list2 {
    color: red;
}

/* 
EXAMPLE 3
    - In this example below, since the ID selectors have the highest precedence, then there is a conflict between the two rules below. Since the rule 2 has an ID selector (the highest precedence) but also has a more specific overall selectors since it combines ID and a class, then it will superceed the rule 1. Thus, the text becomes red.
    - However, this is the complex part, the background also changed colour to yellow, weird right? Well this is because the .subsection3 ID selector conflicts with the .main3 #subsection3 as they both contain colour, but .main3 #subsection3 overwrites the colour property in rule 1, but it does not overwrite the background colour since .main3 #subsection3 does not define a background within its block.
*/
/* <!-- index.html --> */
/* <div class="main3">
  <div class="list3 subsection3">Red text on yellow background</div>
</div> */

/* rule 1 */
#subsection3 {
    background-color: yellow;
    color: blue;
}

/* rule 2 */
.main3 #subsection3 {
    color: red;
}


/* 
Not everything adds to specificity
    - When comparing selectors, symbols like the universal selector (*) and the combinators (+, ~, >, and empty spaces) do NOT inherently convey any additional specificity.
*/

/* 
EXAMPLE 1 
    - In this example below, both rules have the same specificity:
        - Rule 1 uses a chained selector (no space)
        - Rule 2 uses a descendant combinator (the empty space)
    - Though, both classes and the combinator symbol itself does not add to the specificity.
        - ** NOTE: Do not confuse the ".class" and ".second-class" for both rules as being the same class. It's purely for representing SOME arbitrary class that we don't necessarily know the name of.
*/
/* rule 1 */
.class.second-class {
    font-size: 12px;
}

/* rule 2 */
.class .second-class {
    font-size: 24px;
}

/* 
EXAMPLE 2 
    - In this example below, even though rule 2 is using a child combinator (>), this does not change the specificity value. Both rules still have two classes so they have the same specificity values.
*/
/* rule 1 */
.class.second-class {
    font-size: 12px;
}

/* rule 2 */
.class > .second-class {
    font-size: 24px;
}

/* 
EXAMPLE 2 
    - In this example below, rule 2 would have higher specificity and the orange value would take precedence for this element. Rule 2 uses a type selector, which has the lowest specificity value, but rule uses the universal selector (*) which has no specificity value.
    - You can think of the universal selector as sort of a place holder or almost null value, as it changes the style of every element that doesnt have at least a type selector style.
*/
/* rule 1 */
* {
    color: black;
}

/* rule 2 */
h1 {
    color: orange;
}


/* 
Inheritance
    - 

*/

